﻿@model IEnumerable<WeatherCom.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">List of Employees</h2>
<br/>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div class="table-responsive">

    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.AddressID)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Address.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.Parish)
            </th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.AddressID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Parish)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.EmployeeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeID })
                    </td>*@
            </tr>
}

    </table>
</div>