﻿@{
    ViewBag.Title = "Home Page";
}

<br/>
<h1 class="text-center">Thank you for Choosing WeatherCom. </h1>
<h3 class="text-center">
    Five Days Weather ForeCast
</h3>
<a class="weatherwidget-io" href="https://forecast7.com/en/18d02n76d81/kingston/" data-label_1="KINGSTON" data-label_2="WEATHER" data-days="5" data-theme="original">KINGSTON WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

<a class="weatherwidget-io" href="https://forecast7.com/en/18d48n77d89/montego-bay/" data-label_1="MONTEGO BAY" data-label_2="WEATHER" data-days="5" data-theme="original">MONTEGO BAY WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="openweathermap-widget-5"></div>
            <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 5, cityid: '3489854', appid: '00908372fee629a31d41724934511749', units: 'metric', containerid: 'openweathermap-widget-5', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();</script>
        </div>
        <div class="col-md-6">
            <h1>Kingston Weather</h1>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="openweathermap-widget-15"></div>
            <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 15, cityid: '3489460', appid: '00908372fee629a31d41724934511749', units: 'metric', containerid: 'openweathermap-widget-15', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();</script>   
        </div>
        <div class="col-md-6">
            <h1>Montego Bay Weather</h1>
        </div>
    </div>
</div>


@*<div class="row">
    <div class="col-md-6">
        <div id="openweathermap-widget-5"></div>
        <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 5, cityid: '3489854', appid: '00908372fee629a31d41724934511749', units: 'metric', containerid: 'openweathermap-widget-5', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();</script>
    </div>
    <div class="col-md-6">
       
    </div>
</div>
<br\></br\>
<div class="row">
    <div class="col-md-6">
        <div id="openweathermap-widget-5"></div>
        <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 5, cityid: '3489460', appid: '00908372fee629a31d41724934511749', units: 'metric', containerid: 'openweathermap-widget-5', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();</script>   
    </div>
    <div class="col-md-6">
        
    </div>
</div>*@
