﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Todays Affected Employees</h2>*@

<h2 class="text-center">Email Automatically Send to Affected Employees</h2>

<h3> Weather Conditions: </h3>
<h4>Mobay: @ViewData["WeatherMobay"] </h4>
<h4>Kingston: @ViewData["WeatherKingston"]  </h4>