﻿
@{
    ViewBag.Title = "SendEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Please Using This Page to Email Employees</h2>

<h3> Weather Conditions: </h3>
<h4>Mobay: @ViewData["WeatherMobay"] </h4>
<h4>Kingston: @ViewData["WeatherKingston"]  </h4>
